.body {
    font-family: 'Poppins', sans-serif;
}

.nav-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}
.dropown-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}
.my_footer {
    background-color: rgb(233, 233, 233);
    height: 100px;
}
.my_footer p {
    padding-top: 20px;
    font-size: 14px;
    color: black;
}
.my_row_class {
    padding-top: 15px;
}
.my_row_class .mx-auto {
    color: #000;
    font-size: 12px;
}
.my_image {
    width: 100%;
}
.my_title {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.my_image_padding {
    padding: 10px;
}
.my_bottom_margin {
    margin-top: 20px;
   margin-bottom: 100px;
   padding-bottom: 50px;

}
.card-body h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.my_prod_row_class {
    padding-top: 15px;
    padding-bottom: 20px;
}
.my_prod_row_class .mx-auto{
    color: black;
    font-size: 12px;
    text-decoration: none;

}
.my_prod_title {
    font-size: 16px;
    transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 10px;
}
.my_prod_text {
    padding-right: 20px;

}
.my_search_text {
    padding-top: 20px;
    
}
.my_custom_table {
    min-width: 400px;
    font-size: 14px;
}
.my_custom_thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #f8f8fa!important;
}
.custom_a {
    text-decoration: none;
    color: #868e96!important;
}
.my_custom_button {
    margin-top: 5px;
}
.card-img-top {
    width: 190px;
    height: 60%;
    align-items: center;
    padding-top: 15px;
}
.card {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 380px;
}
<<<<<<< HEAD
footer {
    text-align: center;
}
=======
>>>>>>> cd5ee3d9370d81d4d91c77e6e98283737e36b4f4
