{% extends 'base.html' %}
{% load static %}


{% block title %}

{% if category %}
{{category.name}} - Shop Us !
{% else %}
See our new collection - Shop Us !
{% endif %}

{% endblock %}


{% block content %}

{% if category %}
<div>
    <div class='row my_row_class'>
    <div class="mx-auto">
        <p><a href="{% url 'shop:allProdCat' %}">Our (category) Product Collection</a></p>
    </div>
    </div>
</div>
{% endif %}
<div class='mx-auto'>
    {% if category %}
    <img class='my_image' src="{{category.image.url}}" alt='{{category.name}}' width='100%' height='350px' >
</div><br>
<div>
    <h1 class='text-center my_title'>{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
    <div>
    <img class='my_image my_image_padding' src="{% static 'img/banner.jpeg' %}" alt='{{category.name}}' width='100%' height='350px'>
    </div><br>

    <div>
        <h1 class='text-center my_title'>Our Product Collection</h1>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
    {% endif %}
    <div class='container'>
        <div class='row mx_auto'>
            {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
                <div class='card text-center' style='min-width:18rem;'>
                     <a  href='{{product.get_url}}'><img class='card-img-top' src="{{product.image.url}}" alt='{{product.name}}' width='150px'></a>
                     <div class='card-body'>
                        <h4>{{product.name}}</h4>
                        <p>${{product.price}}</p>
                     </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class='mx-auto'>
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class='text-center'>
             {% for pg in products.paginator.page_range %}
                 <a href='?page={{pg}}' class='btn btn-light btn-sm {% if products.number == pg %} active {% endif %}'>{{pg}}</a>
             {% endfor %}
        </div>
        {% endif %}
        </div>
    </div>
{% endblock %}